/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

#custom
/public/js/app.js
/public/mix-manifest.json
/public/file/test_case/input
/public/file/test_case/output
/public/upload/avatars
/public/upload/files
/public/flag
