body {
    background-color: #f7f7f7;
    font-family: 'Ubuntu','Hind Siliguri','Helvetica',sans-serif;
}
a {
    color: #2156D2;
}
a:hover {
    cursor: pointer;
}
.content-body {
    margin-top: 85px;
    padding: 0px 25px 0px 25px
}
@media (min-width:750px) and (max-width: 930px) {
    .content-body {
        margin-top: 120px;
    }
}
.preloader-txt {
    color: #3EC79C;
    font-weight: bold;
    font-size: 30px;
    margin-top: -200px;
}
:root {
    --red: #FA3E50;
    --blue: #34315D;
}

/*start form control*/

 .form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #eee;
  opacity: 1;
}
.form-control[disabled],
fieldset[disabled] .form-control {
  cursor: not-allowed;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}

/*end form control*/

/*button*/

.btn {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    outline: none!important;
    text-align: center;
}
.btn-default {
    background-color: #2C3542;
    color: #ffffff;
}
.btn-custom {
    padding: 7px 15px 7px 15px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
}
.btn-custom:hover {
    opacity: 0.8;
    color: #ffffff;
}
.btn-custom:disabled {
    opacity: 0.8;
    color: #ffffff;
}
.btn-custom:focus {
    outline: none;
}
/*end button*/

/*start box*/

.box {
    margin-bottom: 20px;
    /*box-shadow: 2px 2px 2px 2px #aaaaaa;*/
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 7px 2px rgba(218, 218, 218, 1);
    -moz-box-shadow: 0px 0px 7px 2px rgba(218, 218, 218, 1);
    box-shadow: 0px 0px 7px 2px rgba(218, 218, 218, 1);
}
.box .header {
    background: linear-gradient(to bottom right, #ffffff, #f5f5f5);
    color: #2F353B;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 0px;
    margin-bottom: 1px;
    border: 1px solid #E7ECF1;
}
.box-body, .box .body {
    background-color: #ffffff;
    border: 1px solid #E7ECF1;
    padding: 10px;
    border-radius: 0px;
}
/*form*/

.form {}
.form .form-control-input {
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    font-size: 14px;
    color: #585a58;
    border: 1px solid #d4d4d4;
    background-color: #f9f9f9;
}
.form .form-control-input:focus, .form-control:focus {
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--blue);
    box-shadow: 0 0 3px 3px #CCC7D8;
}
.form .form-control-input {
    margin-bottom: 5px;
}
.form .label-area {
    text-align: right;
}
@media (max-width: 995px) {
    .form .label-area {
        text-align: left;
    }
}
.form label {
    margin-left: 5px;
    margin-top: 10px;
}
.form .error-area, .success-area {
    display: none;
}
.form .submit-btn {
    background-color: #305485;
    min-width: 200px;
    color: #ffffff;
    padding: 9px;
    font-weight: bold;
}
.form .submit-btn:focus {
    outline: none;
}
.form .error-input {
    border: solid 1px #ce9999;
}
.form .alert-area {
    margin-bottom: 15px;
}
/*end form*/

/*table style*/

.table-custom {
    width: 100%;
}
.table-custom th {
    border: 1px solid #DDDDDD;
    background-color: #F4F6F8;
    font-size: 14px;
    padding: 10px 5px 10px 5px;
    text-align: center;
}
.table-custom td {
    border: 1px solid #DDDDDD;
    font-size: 14px;
    padding: 5px;
    text-align: center;
}
.submit-btn {
    background-color: #305485;
    min-width: 200px;
    color: #ffffff;
    padding: 9px;
    font-weight: bold;
}
.submit-btn:focus {
    outline: none;
}
.btn:focus {
    outline: none;
}
/*end table style*/

/*card start*/

.card-counter {
    border: 1px solid #E7ECF1;
    margin: 5px;
    margin-bottom: 30px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 1px;
    transition: .3s linear all;
}
.card-counter:hover {
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
}
.card-counter .custom {
    background-color: #ffffff;
    color: #2C3542;
}
.card-counter.primary {
    background-color: #007bff;
    color: #FFF;
}
.card-counter.danger {
    background-color: #ef5350;
    color: #FFF;
}
.card-counter.success {
    background-color: #66bb6a;
    color: #FFF;
}
.card-counter.info {
    background-color: #26c6da;
    color: #FFF;
}
.card-counter i {
    font-size: 5em;
    opacity: 0.2;
}
.card-counter .count-numbers {
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
}
.card-counter .count-name {
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
}
/*end card*/

.editorAlert {
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 90px;
    height: 180px;
    font-weight: bold;
    font-size: 20px;
    padding: 60px 10px 0px 10px;
    border: 1px solid #767676;
}
.error-area, .success-area {
    display: none;
}
.error-input {
    border: solid 1px #ce9999;
}
.alert-area {
    margin-bottom: 15px;
}