
/*start modal css*/

.modal-backdrop {
  opacity: 0.8 !important;
}

.modal-content {
  border-radius: 0px;
}

.modal-dialog {
  max-width: 350px;
  width: 100%;
}

.modal-body {
  padding: 20px;
  background-color: #FFFFFF;        
  /*overflow: scroll;*/
  /*max-height: 500px;*/
}

.modal-content {
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 0px 0px 5px 5px !important;
}

.modal-content-header {
  background-color: #F8F8F8;
  color: #4F4F4F;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #e2e2e2;
  border-width: 0px 0px 1px 0px;
}

.modal-header-custom {
  border-radius: 10px 10px 0px 0px;
}

.modal-header-custom .close {
  margin: 0;
  position: absolute;
  top: 15px;
  right: 20px;
  color: #7C7C7C;
  font-size: 25px;
  opacity: 1;
  z-index: 10;
}

.modal-header-custom .close:hover {
  outline: none;
  font-size: 27px;
  color: #000000;
}

.modal-header-custom .close:focus {
  outline: none;
  font-size: 27px;
  color: #000000;
}

.modal-error {
  padding: 5px;
  color: #C47A77;
  font-size: 15px;
  font-weight: bold;
  border: 1px dotted #ECCDD1;
  display: none;
  background-color: #F2DEDE;
  margin-bottom: 10px;
}

.modal-msg {
  padding: 5px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  border: 1px dotted #10ac84;
  display: none;
  background-color: #1dd1a1;
  margin-bottom: 10px;
}

.modal-error li {
}

/*end modal css*/



.fade-scale {
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear;
}

.fade-scale.in {
  opacity: 1;
  transform: scale(1);
}