.box_header{
	background-color: #ffffff;
	color: #2F353B;
	padding: 15px 10px 15px 10px;
	font-weight: bold;
	font-size: 18px;
	border-radius: 5px;
	margin-bottom: 1px;
	border: 1px solid  #E7ECF1;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.box_body{
	background-color: #ffffff;
	border: 1px solid #E7ECF1;
	padding: 10px;
	border-radius: 5px;
}

.box{
	margin-bottom: 20px;
	box-shadow: 2px 2px 2px 2px #aaaaaa;
	border-radius: 5px;
}


.box1_header{
	background-color: #ffffff;
	color: #2F353B;
	padding: 15px 10px 15px 10px;
	font-weight: bold;
	font-size: 18px;
	border-radius: 5px;
	margin-bottom: 1px;
	border: 1px solid  #E7ECF1;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.box1_body{
	background-color: #ffffff;
	border: 1px solid #E7ECF1;
	padding: 10px;
	border-radius: 5px;
}

.box1{
	margin-bottom: 20px;
}

.sm_border{
	border-width: 1px!important;
}
.one_border{
	border-width: 1px!important;
}
.none_border{
	border-width: 0px!important;
}
