
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
	background-color: #F5F3F3;
    border: 1px solid #ccc;
	border-radius: 5px;
    box-sizing: border-box;
}

.inputClass{
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    background-color: #F5F3F3;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #2C3542;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
	border-radius: 3px;
    font-size: 14px;
}

button:hover {
    opacity: 0.8;
    color: #ffffff;
}

button:disabled {
  opacity: 0.8;
  color: #ffffff;
}
button:focus  {
  outline: none;
}

.register_notice{
    color: #006266;
    margin-left: 5px;
    font-size:  13px;

}